<template name="modalDeadlineHint">
    <div class="modal fade" id="modal-deadline-hint" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" aria-hidden="true">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Дэдлайн</h4>
                </div>
                <div class="modal-body">
                    Дэдлайн события наступает за указанное создателем события время до начала события. Если в момент
                    наступления дэдлайна количество участников ниже минимального необходимого, событие объявляется
                    несостоявшимся. Если набрано необходимое количество участников, то в момент дэдлайна участникам
                    становится доступен адрес проведения события.
                    <!--<div class="modal-footer">-->
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>
</template>