<template name="_userSubmitted">
    <div class="block">
        {{#if isOwner getEventIdFromRoute _id}}
            <b>Организатор</b>
        {{/if}}
        <span>Ник: <a href="{{pathFor 'userPage' username}}">{{username}}</a></span>
        {{#if currentUser}}
            {{#unless isThisUser _id}}
                {{#if isEventStarted getEventIdFromRoute}}
                    <span class="pull-right">
                        {{>votes}}
                    </span>
                {{/if}}

                {{#if isInSameStartedEventWithUser _id}}
                    <a class="pull-right cursor-pointer link-disable" id="write-user-review">Отзыв об участнике</a>

                    <div class="clearfix"></div>

                    {{>userReviewForm}}
                {{/if}}
            {{/unless}}
        {{/if}}

        {{#if isOwner getEventIdFromRoute}}
            {{#if isExpects}}
                {{#unless wasHappenAcceptOrderDeadline getEventIdFromRoute}}
                    <div class="pull-right">
                        <input type="submit" value="Принять заявку" class="btn btn-primary" id="accept-order"/><input
                            type="submit" value="Отклонить заявку" class="btn btn-danger" id="reject-order"/>
                    </div>
                {{/unless}}
            {{/if}}
        {{/if}}
    </div>
</template>

