<template name='createEvent'>
    <div class="page">
        <h4>Создание события</h4>
        <form class="main form">
            <div>Создавать события можно минимум за {{getEventDeadline}} часов до его начала.</div>
            <div>Участником события может стать пользователь, подавший заявку на участие и принятый создателем
                события.
            </div>
            <div>Участник может снять заявку, принятую создателем события, при этом в его профиле будет указано
                количество отказов
                от участия.
            </div>
            <div>Созданное событие можно отменить, в таком случае создатель события лишится права создавать события в
                течение 2 недель, в профиле создателя события будет указано количество отмененённых событий, а участники
                отменённого события смогут оставить создателю события отзывы.
            </div>
            <div>Созданное событие можно перенести 1 раз, не менее чем за {{getEventDeadline}} часов до его начала, в профиле создателя
                события будет отображено количество перенесённых событий. Участник перенесённого события сможет свободно
                отказаться от участия в нём или не явиться, в его профиле отказ или неявка учтены не будут.
            </div>
            <div>Все поля обязательны для заполнения.</div>
            <br>
            <div class="form-group">
                <label class="control-label" for="event-name">Название события</label>
                <div class="controls">
                    <input name="event-name" id="event-name" type="text" value="" placeholder="" class="form-control"
                           required autocomplete="off"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="type">Тип события</label>
                <div class="controls">
                    <select name="type" id="type" class="form-control" required>
                        <option value=""></option>
                        {{#each eventTypes}}
                            <option value="{{this}}">{{this}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="description">Описание события</label>
                <div class="controls">
                    <textarea name="description" id="description" placeholder="" class="form-control"
                              required></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="date">Дата события</label>
                <div class="controls">
                    <input name="date" id="date" type="date" value="" placeholder="" class="form-control" required
                           autocomplete="off"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="begin">Время начала события</label>
                <div class="controls">
                    <input name="begin" id="begin" type="time" value="" placeholder="" class="form-control" required
                           autocomplete="off"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="end">Время окончания события</label>
                <div class="controls">
                    <input name="end" id="end" type="time" value="" placeholder="" class="form-control" required
                           autocomplete="off"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="members-minimum">Минимальное количество участников, включая
                    организатора</label>
                <div class="controls">
                    <input name="members-minimum" id="members-minimum" type="number" value="" placeholder=""
                           class="form-control" min="2" required autocomplete="off"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label" for="members-maximum">Максимальное количество участников, включая
                    организатора</label>
                <div class="controls">
                    <input name="members-maximum" id="members-maximum" type="number" value="" placeholder=""
                           class="form-control" min="2" required autocomplete="off"/>
                </div>
            </div>
            <input type="submit" value="Создать событие" class="btn btn-primary"/>
        </form>
    </div>
</template>