<template name="monthCalendar">
    <div class="calendar page">
        <h4>Календарь событий на {{monthName}} {{year}} года</h4>
        <div>
            <a href="{{pathFor 'monthCalendar' month=previousMonthYear.month year=previousMonthYear.year query=getQueryTypes}}">Предыдущий
                месяц</a>
            <a href="{{pathFor 'monthCalendar' month=nextMonthYear.month year=nextMonthYear.year query=getQueryTypes}}">Следующий месяц</a>
        </div>
        <!--<div><a href="{{pathFor 'monthPopular'}}">Популярные за месяц</a></div>-->
        <br>
        {{> _eventFilter}}
        {{#each dates}}
            {{> _day}}
        {{/each}}
    </div>
</template>
