<template name="modal">
    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" aria-hidden="true">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Создание события</h4>
                </div>
                <div class="modal-body">
                    {{{this}}}
                    <!--<div class="modal-footer">-->
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>
</template>